{% extends 'first/First.html' %}
{% block title %} Create Profile {% endblock %}
{% block body %}
<div class="container">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div>
            <div class="mb-3">
                <label class="form-label">name</label>
                <input type="text" class="form-control" aria-describedby="emailHelp" name="name">
            </div>
        </div>
        <div>
            <div class="mb-3">
                <img src="" alt="">
                <label class="form-label">image</label>
                <input type="file" class="form-control" aria-describedby="emailHelp" name="image">
            </div>
        </div>
        <div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" aria-describedby="emailHelp" name="email">
            </div>
        </div>
        <div>
            <div class="mb-3">
                <label class="form-label">age</label>
                <input type="number" class="form-control" aria-describedby="emailHelp" name="age">
            </div>
        </div>
        <div>
            <div class="mb-3">
                <label class="form-label">address</label>
                <input type="text" class="form-control" aria-describedby="emailHelp" name="address">
            </div>
        </div>
        <div>
            <div class="mb-3">
                <label class="form-label">phone_no</label>
                <input type="text" class="form-control" aria-describedby="emailHelp" name="phone_no">
            </div>
        </div>
        <div>
            <div class="mb-3">
                <label class="form-label">date_of_birth</label>
                <input type="datetime-local" class="form-control" aria-describedby="emailHelp" name="date_of_birth">
            </div>
        </div>
        <div>
            <div class="mb-3">
                <label class="form-label">religion</label>
                <select class="form-select" name="religion" aria-label="Default select example">
                  <option value="Muslim">Muslim</option>
                  <option value="Hindu">Hindu</option>
                  <option value="Christian">Christian</option>
                  <option value="Bouddho">Bouddho</option>
                </select>
            </div>
        </div>
        <div>
            <div class="mb-3">
                <label class="form-label">Gender</label>
                <select class="form-select" name="gender" aria-label="Default select example">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Others">Others</option>
                </select>
            </div>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


{% endblock %}